/*
================================================================================
File: docs/assets/stylesheets/extra.css
- Body
- Header
- Mini Navi
- Main
- Left Sidebar
- Page
- Right Sidebar
- Footer
- Buttons
- Margins & Padding
- Home Page
- About Page
================================================================================
*/

/*
================================================================================
Draft
================================================================================
*/



/*
================================================================================
Body
================================================================================
*/
#ab-body {
  border-style: solid solid solid solid;
  border-radius: 12px;
  border-width: 0.01rem 0.1rem 0.01rem 0.05rem;
  border-color: gray #A4B888 gray #A4B888;
  margin: 0.25rem;
  padding: 0;
  width:100% !important;
  }
  
/*
================================================================================
Header
================================================================================
*/
/* /overrides/base.html */
header.md-header {
  background-color: #545151;
}
#ab-header-bar {
  width: 100% !important;
  background-color:green!important;
  margin: 0.5rem 0 0rem 0;
}

/* /overrides/partials/header.html */
#ab-config-site-name {
  color: white !important;
}
/* /overrides/partials/header.html */
.ab-navi-button {
  font-size: 0.7rem;
  background-color: #A4B888;
  color: black;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: 0 0 0 0;
  border-style: solid;
  border-width: 0.07rem;
  border-color: white black black white;
  border-radius: 10%;
}

/*
================================================================================
Main
================================================================================
*/
#ab-main-outer {
border-style:  none solid none solid;
border-radius: 12px;
border-width: 0.01rem 0.01rem 0.1rem 0.05rem;
border-color: black darkolivegreen black darkolivegreen;
margin: 0.5rem 0 0 0;
padding: 0;
background-color: none;
}
#ab-main {
  margin: 0; 
  padding: 0;
}
#ab-main-inner-grid {
  margin: 0;
  padding: 0;
}
/*
================================================================================
Left Sidebar
================================================================================
*/

#ab-left-sidebar {
  background-color: #545151;
  border-radius: 10px;
  margin: 0 0rem 0 0;
  padding: 0.5rem 0 0.8rem 0.5rem;
  color: white;
}
#ab-left-sidebar-label {
  background-color: none;
  text-align: left;
  padding: 0.25rem;
  margin: 0rem 0 0.5rem 0rem;
  border-radius: 5px;
  height: 2rem;
  color: white;

}
#ab-docs-title {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  border-radius: 10px;
  margin: 0.25rem 0 0.7rem 0;
  width: 100%;
  background-color: white gray gray #A4B888;
  Font-size: 0.8rem;
  color: white;
  border-bottom: solid;
  border-width: 0.05rem;
}
#ab-left-sidebar-list {
  background-color: #545151;
  border-radius: 10px;
  margin: 0 0rem 0 0;
  padding: 0.5rem 0 0.8rem 0.5rem;
  color: white;
}
/*
================================================================================
Page
================================================================================
*/
div#ab-page-div {
  border-style: none solid none solid;
  border-radius: 10px;
  border-width: 0.025rem 0.05rem 0.25rem 0.05rem;
  border-color: black darkolivegreen black darkolivegreen;
  margin: 0;
  padding: 0;
}

/*
================================================================================
Right Sidebar
================================================================================
*/
#ab-right-sidebar {
  background-color: #545151;
  border-radius: 10px;
  margin: 0 0rem 0 0;
  padding: 0.5rem 0 0.8rem 0.5rem;
  color: white;
}
#ab-right-sidebar-label {
  background-color: none;
  text-align: left;
  padding: 0.25rem;
  margin: 0rem 0 0.5rem 0rem;
  border-radius: 5px;
  height: 2rem;
  color: white;

}
#ab-toc-title {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  border-radius: 10px;
  margin: 0.25rem 0 0.7rem 0;
  width: 100%;
  background-color: white gray gray #A4B888;
  Font-size: 0.8rem;
  color: white;
  border-bottom: solid;
  border-width: 0.05rem;
}
#ab-right-sidebar-list {
  background-color: #545151;
  border-radius: 10px;
  margin: 0 0rem 0 0;
  padding: 0.5rem 0 0.8rem 0.5rem;
  color: white;
}
}


/*
================================================================================
Footer
================================================================================
*/
footer.md-footer {
  background-color: #545151  !important;
}

#ab-footer-block {
  margin: 0.5rem 0 1em 0;
  padding: 0;
  background-color: #545151 !important;
}
#ab-footer-top {
  background-color: #545151;
}
#ab-footer-bottom {
  background-color: #545151 !important;
}

/*
================================================================================
Buttons
================================================================================
*/
.ab-buttons {
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
  display: grid;
  grid-auto-columns: 1fr 1fr fr;
  background: gray;
  width: fit-content;  
  border: none solid none solid;
  border-color: blue #A4B888 purple #A4B888;
  border-width: 0.5em;
  border-radius: 10px;
}
.ab-button-category {
  padding: 0.25rem;
  margin: 1.5rem 0rem 1.5rem 0;
  border: solid solid solid solid;
  background-color: #A4B888;
  border-width: 1rem;
  border-radius: 10%;
  color: black !important;
  border-color: white black black white;
  width: 100%; 
  align-self: center;
}
.ab-button {
  margin-top: 0.5em;
  padding: 0.25rem;
  border: solid;
  border-width: 0.07rem;
  border-color: white black black white;
  border-radius: 10%;
  background-color: #A4B888;
  color: black !important;
  width: 100%;
}
.ab-button-group-title {
  margin-top: 0.5em;
  padding: 0.25rem;
  border: solid;
  border-width: 0.07rem;
  border-color: white black black white;
  border-radius: 10%;
  background-color: none;
  color: black !important;
  width: 100%;
}

 /*
================================================================================
Margins and Padding
================================================================================
*/
.marg-0 { margin: 0; }
.padd-0 { padding: 0; }

.marg-top-0 {margin-top: 0; }
.padd-top-0 { padding-top: 0; }
.padd-top-02 { padding-top: 0.2rem; }
.padd-top-05 { padding-top: 0.5rem; }

.marg-right-0 { margin-right: 0; }
.padd-right-0 { padding-right: 0; }


.marg-bottom-0 {  margin-bottom: 0; }
.marg-bottom-0 { padding-bottom: 0; }

 /*
================================================================================
Home Page
================================================================================
*/

#ab-home-title {
  margin: 0;
  padding: 0.25rem;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: bold;
  border: solid solid solid solid;
  color: white;
  border-color: white black black white;
  border-radius: 5px;
}
 /*
================================================================================
About
================================================================================
*/

#ab-about-logo {
  width: 200px;  height: 200px;
  position: relative;
  float: right;
  top: 55px;
  right: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

