/*
================================================================================
File: docs/assets/stylesheets/extra.css
- Body
- Header
- Mini Navi
- Main
- Left Sidebar
- Page
- Right Sidebar
- Buttons
- Margins & Padding
- About Page
================================================================================
*/

/*
================================================================================
Draft
================================================================================
*/


/*
================================================================================
Body
================================================================================
*/
#ab-body {
  border-style: solid solid solid solid;
  border-radius: 12px;
  border-width: 0.01rem 0.1rem 0.01rem 0.05rem;
  border-color: gray #A4B888 gray #A4B888;
  margin: 0.25rem 1.5rem 0.25rem 0.25rem;
  padding: 0.5rem 0 0.5rem 0;
  width:100% !important;
  }
  
/*
================================================================================
Header
================================================================================
*/
#ab-header {
  background-color: #263238 !important;
}
.pop-up-logo {
  margin-right: 0;
  padding-right: 0.25rem;
  width: 30px;
}

.ab-site-name {
  font-size: 0.8rem;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  height: auto;
  border-style: solid;
  border-width: 0.1.5rem;
  border-color: #A4B888 black black #A4B888;
  border-radius: 1%;
}
.ab-navi-button {
  font-size: 0.7em;
  background-color: #A4B888;
  color: black;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  margin: 0 0 0 0;
  border-style: solid;
  border-width: 0.07rem;
  border-color: white black black white;
  border-radius: 10%;
}

/*
================================================================================
Main
================================================================================
*/
#ab-main {
border-style:  none solid none solid;
border-radius: 12px;
border-width: 0.01rem 0.01rem 0.1rem 0.05rem;
border-color: black darkolivegreen black darkolivegreen;
margin: 0.3rem 0.25rem 0.25rem 0.25rem;
padding: 0 0 0.5rem 0;
}

/*
================================================================================
Left Sidebar
================================================================================
*/
/* hide docs.annebrown.ca from top of left sidebar toc */
#ab-left-sidebar {
  background-color: green;
}
label.md-nav__title {
  visibility: hidden;
}
/*
================================================================================
Page
================================================================================
*/
#ab-page-div {
  border-style:  none solid none solid;
  border-radius: 10px;
  border-width: 0.025rem 0.05rem 0.25rem 0.05rem;
  border-color: black darkolivegreen black darkolivegreen;
  margin: 10px 0 10px 0;
  padding: 0;
  width: 100% !important;
}

/*
================================================================================
Right Sidebar
================================================================================
*/

#ab-right-sidebar {
  background-color: green;
}

/*
================================================================================
Buttons
================================================================================
*/
.ab-buttons {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.ab-button {
  padding: 0.25rem;
  margin: 0.25rem;
  border: solid;
  border-width: 0.07rem;
  border-color: white black black white;
  border-radius: 10%;
  background-color: #A4B888;
  color: black !important; */
}
 /*
================================================================================
Margins and Padding
================================================================================
*/
.marg-0 { margin: 0; }
.padd-0 { padding: 0; }

.marg-top-0 {margin-top: 0; }
.padd-top-0 { padding-top: 0; }
.padd-top-02 { padding-top: 0.2rem; }
.padd-top-05 { padding-top: 0.5rem; }

.marg-right-0 { margin-right: 0; }
.padd-right-0 { padding-right: 0; }


.marg-bottom-0 {  margin-bottom: 0; }
.marg-bottom-0 { padding-bottom: 0; }

 /*
================================================================================
Margins and Padding
================================================================================
*/
#about-logo {
  width: 200px; 
  position: relative;
  float: right;
  top: 55px;
  right: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

