/*
================================================================================
File: docs/assets/stylesheets/extra.css
- Body
- Header
- Mini Navi
- Page
- Right Sidebar
- Cards
- Margins & Padding
- About Page
================================================================================
*/

/*
copied from partials/comp/main.123.min.css:
*/


body {
  display: flex;
  flex-direction: column;
  font-size: .5rem;
  min-height: 100%;
  position: relative;
  width: 100%
}

/* hide docs.annebrown.ca from top of left sidebar toc */
label.md-nav__title {
  visibility: hidden;
}

@media screen and (min-width: 63em) {
  .md-sidebar--secondary {
      height:0
  }

  .no-js .md-sidebar--secondary {
      height: auto
  }

  .md-sidebar--secondary:not([hidden]) {
      display: block
  }

  .md-sidebar--secondary .md-sidebar__scrollwrap {
      touch-action: pan-y
  }
}

.md-grid {
    margin-left: auto;
    margin-right: auto;
    min-width: 61rem;
    /* Maximum space for text block */

  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}
.md-grid {
  max-width: initial;
}
/* .md-main__inner.md-grid {
  max-width: initial;
} */
@media screen and (max-width: 300em5em) {
  .md-typeset .md-consent__controls .md-button {
      display:block;
      margin-top: .4rem;
      text-align: center;
      width: 100%
  }
}

@media screen and (max-width: 200em) {
  .md-content--post {
      flex-flow:column-reverse
  }
}




/*
================================================================================
Body
================================================================================
*/
body {
  /* width: 100% !important; */
}
/*
================================================================================
Header
================================================================================
*/
.pop-up-logo {
  margin-right: 0;
  padding-right: 0.25rem;
  width: 30px;
}

/*
================================================================================
mini-navi
================================================================================
*/
.naviButton {
  font-size: 0.7em;
  /* font-weight: bold; */
  color: aliceblue;
  /* background-color: aliceblue; */
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: 0 0 0 0;
  border-style: solid;
  border-width: 0.07rem;
  border-color: white black black white;
  border-radius: 10%;
}

/*
================================================================================
Page
================================================================================
*/
#page-div {
        border-style: solid solid solid solid;
        border-left-color: #A4B888;
        border-right-color: gray;
        padding: 0;
        border-width: 1px;
        margin: 0;
}

/*
================================================================================
Right Sidebar
================================================================================
*/
media screen and (min-width: 60em) {
  .md-sidebar--secondary:not([hidden]) {
      display: block;
  }
}



/* #right-sidebar {

 */
/*
================================================================================
Cards
================================================================================
*/
.outter-container {
  margin: 0; padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Fractional  */
  gap: 10px;
/* 
  column-gap: 10px; 
  row-gap: 20px; 
*/
}
.item-00 {
  padding: 0 1rem 0 1rem;
  margin: 0 0 0 0;
  text-align: center;
  border: 0.25px solid gray;
}
 /*
================================================================================
Margins and Padding
================================================================================
*/
.marg-0 { margin: 0; }
.padd-0 { padding: 0; }

.marg-top-0 {margin-top: 0; }
.padd-top-0 { padding-top: 0; }
.padd-top-02 { padding-top: 0.2rem; }
.padd-top-05 { padding-top: 0.5rem; }

.marg-right-0 { margin-right: 0; }
.padd-right-0 { padding-right: 0; }


.marg-bottom-0 {  margin-bottom: 0; }
.marg-bottom-0 { padding-bottom: 0; }

 /*
================================================================================
Margins and Padding
================================================================================
*/
#about-logo {
  width: 200px; 
  position: relative;
  float: right;
  top: 55px;
  right: 0;
   
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

