/*
================================================================================
File: docs/assets/stylesheets/extra.css
- Body
- Header
- Mini Navi
- Page
- Right Sidebar
- Cards
- Margins & Padding
- About Page
================================================================================
*/

/*
================================================================================
Body
================================================================================
*/
body {
  width: 100% !important;
}
/*
================================================================================
Header
================================================================================
*/
.pop-up-logo {
  margin-right: 0;
  padding-right: 0.25rem;
  width: 30px;
}

/*
================================================================================
mini-navi
================================================================================
*/
.naviButton {
  font-size: 0.7em;
  /* font-weight: bold; */
  color: aliceblue;
  /* background-color: aliceblue; */
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: 0 0 0 0;
  border-style: solid;
  border-width: 0.07rem;
  border-color: white black black white;
  border-radius: 10%;
}

/*
================================================================================
Page
================================================================================
*/
#page-div {
        border-style: solid solid solid solid;
        border-left-color: #A4B888;
        border-right-color: gray;
        padding: 0;
        border-width: 1px;
        margin: 0;
}

/*
================================================================================
Right Sidebar
================================================================================
*/
#right-sidebar {
  width: 10rem;
}

/*
================================================================================
Cards
================================================================================
*/
.outter-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Fractional  */
  gap: 10px;
    /* column-gap: 10px; 
    row-gap: 20px; */
}
.item-00 {
  text-align: center;
  border: 0.25px solid gray;
}
 /*
================================================================================
Margins and Padding
================================================================================
*/
.marg-0 { margin: 0; }
.padd-0 { padding: 0; }

.padd-top-0 { padding-top: 0; }
.padd-top-02 { padding-top: 0.2rem; }
.padd-top-05 { padding-top: 0.5rem; }

.padd-right-0 { padding-right: 0; }
.marg-right-0 { margin-right: 0; }

 /*
================================================================================
Margins and Padding
================================================================================
*/
#about-logo {
  width: 200px; 
  position: relative;
  float: right;
  top: 55px;
  right: 0;
   
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

