
/* Stylesheet Loaded Test */

/* h2 {
    color: green;
}
    */

body {
    width: 100% !important;
}




.md-gred {
    max-width: initial;
}

.md-main__inner.md-grid {
    max-width: 61rem;
}
 */
/* Desktop */
/*
@media (min-width: 992px) {
    .sidebar {
      width: 250px;
    }
}
*/

/* Mobile */
/*
@media (max-width: 991px) {
    .sidebar {
      width: 100%; 
    }
}
*/

/*
iframe {max-width: 50%;}
.md-header { width: 50%;}
.md-header__inner.md-grid {
    width: 50%;
}

nav.md-header__inner.md-grid {
    width: 50%;
}
nav.md-tabs {
    line-height: 1;
    box-sizing: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
div.md-grid {
    width: 100%;
}
.md-tabs__list {
    width: 50;
}
*/


/* Takes out Hambr Menu
/*
.md-grid {
    width: 100%;
}
*/

/*
ul.md-tabs__list {
    width: 50%;
}
.md-tabs {
    width: 300px;
    box-sizing: 50%;
    line-height: 1;
}
*/